SilverlightTestApp/Service References/PublicServiceReference/PublicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60000/PublicService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60000/PublicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60000/PublicService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublicService_GetHuxSite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHuxSite" />
  </wsdl:message>
  <wsdl:message name="IPublicService_GetHuxSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHuxSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicService_GetHuxSiteNoCache_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHuxSiteNoCache" />
  </wsdl:message>
  <wsdl:message name="IPublicService_GetHuxSiteNoCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHuxSiteNoCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="IPublicService">
    <wsdl:operation name="GetHuxSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicService/GetHuxSite" message="tns:IPublicService_GetHuxSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicService/GetHuxSiteResponse" message="tns:IPublicService_GetHuxSite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHuxSiteNoCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicService/GetHuxSiteNoCache" message="tns:IPublicService_GetHuxSiteNoCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicService/GetHuxSiteNoCacheResponse" message="tns:IPublicService_GetHuxSiteNoCache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPublicService" type="tns:IPublicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHuxSite">
      <soap:operation soapAction="http://tempuri.org/IPublicService/GetHuxSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHuxSiteNoCache">
      <soap:operation soapAction="http://tempuri.org/IPublicService/GetHuxSiteNoCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicService">
    <wsdl:port name="BasicHttpBinding_IPublicService" binding="tns:BasicHttpBinding_IPublicService">
      <soap:address location="http://localhost:60000/PublicService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>